@using PrancingTurtle.Helpers
@model PrancingTurtle.Models.ViewModels.Home.HomeIndexVM

@{
    ViewBag.Title = "Home";
}
<div class="container container-fluid">
    @if (Model.DisplayNotification)
    {
        <div class="alert alert-dismissable @string.Format("alert-{0}", Model.SiteNotification.ColourClass)">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h3>
                <b>@Model.SiteNotification.Header</b>
            </h3>
            <p>@Model.SiteNotification.Body</p>
        </div>
    }
    <h2>Welcome to the home of the Prancing Turtle!</h2>
    <h6>He might prance, but mine turtle's smarter cousin is a force to be reckoned with.</h6><br />
    <h4>Don't miss an update! Follow us on Twitter &amp; Facebook!</h4>
    <a href="https://twitter.com/PrancingTurtl" class="twitter-follow-button" data-show-count="false">Follow @Html.Raw("@PrancingTurtl")</a>
    <div class="fb-like" data-href="https://www.facebook.com/prancingturtle" data-layout="standard" data-action="like" data-show-faces="false" data-share="true" data-colorscheme="dark"></div>
    <br /><br />
    <h4 class="text-danger"><b>Wait, what is this?!</b></h4>
    <h4>TPT is a CombatLog parser for Rift, designed by (actual) players, for (other actual) players.</h4>
    <h4>Enable combat logging (/combatlog) in-game, engage in epic battles, zip up the generated logs and feed them to our turtles!</h4>
    <br />
    <h4>For more information, check out our online help, or have a look through the sessions that other users have uploaded.</h4>

    @if (!Request.IsAuthenticated)
    {
        <div class="alert alert-success">
            <p>You're not logged in, so all encounters shown have been converted to UTC time (+0:00)</p>
            @Html.ActionLink("If you register an account, you can login and set your timezone so that all encounters and sessions are shown in your local time.", "Register", "Account", null, new { @class = "text-danger" })
        </div>
    }

    <div class="row well">
        <div class="col-lg-6">
            <h3 class="notop">Recent Sessions</h3>
            <div class="table-responsive">
                <table class="table">
                    @foreach (var session in Model.Sessions)
                    {
                        <tr>
                            <td class="recent-timeago">
                                <b>@DateTimeHelpers.TimeAgo(session.Date.Add(Model.TimeZoneOffset))</b>
                            </td>
                            <td class="text-left">
                                @Html.Raw(string.Format("&lt;{0}&gt;", session.AuthUserCharacter.Guild.Name))
                                @foreach (var instance in session.InstancesSeen)
                                {
                                    <span class="label instancelist label-danger">
                                        @instance.Name
                                    </span>
                                    if (instance.DifficultiesSeen.Any())
                                    {
                                        <label><b>@Html.Raw(string.Format("({0})", string.Join(", ", instance.DifficultiesSeen)))</b></label>
                                    }

                                }
                                <span> -> </span>
                                <b>@Html.ActionLink(session.Name, "Detail", "Session", new { @id = session.Id }, new { @class = "text-info-i" })</b>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <div class="col-lg-6">
            <h3 class="notop">Most recent changes</h3>
            <ul class="ulstar">
                @foreach (var item in Model.RecentChanges)
                {
                    <li>@item.PrintedFullObject</li>
                }
            </ul>
            <p>
                <b>@Html.ImageActionLink("V1", "ReleaseNotes", null, "text-info", "fa fa-external-link-square", "Release Notes")</b> |
                <b>@Html.ImageActionLink("Changelog", "Home", null, "text-info", "fa fa-external-link-square", "Changelog / known issues")</b>
            </p>

        </div>
    </div>

    <div class="row">

    </div>
</div>

@section AdditionalMeta
{
    <meta property="og:title" content="Prancing Turtle" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://prancingturtle.com" />
    <meta property="og:site_name" content="Prancing Turtle" />
    <meta property="og:description" content="A combat log parsing website for RIFT. Powered by turtles, for players."/>
    <meta property="og:image" content="https://prancingturtle.com/pt.png" />
}