@using PrancingTurtle.Helpers
@model PrancingTurtle.Models.ViewModels.Session.SessionInstanceVM

@{
    ViewBag.Title = string.Format("Sessions for {0}", Model.Instance.Name);
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-centered">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Sessions for <b>@Model.Instance.Name</b></h2>
                    <h5>(All sessions that included encounters from this instance)</h5>
                </div>
            </div>
            <br /><br />

            <div class="table-responsive">
                <table class="table">
                    <tr><td colspan="2"></td></tr>
                    @foreach (var guildSession in Model.Sessions)
                    {
                        <tr>
                            <td class="text-right col-sm-2">
                                <b>@DateTimeHelpers.TimeAgo(guildSession.Date.Add(Model.TimeZoneOffset))</b>
                            </td>
                            <td class="text-left col-sm-10">
                                <a class="btn-sm btn-default" style="text-decoration: none !important; margin-right: 5px;" href="#">
                                    @Html.Raw(string.Format("&lt;{0}&gt; ", guildSession.Guild.Name))
                                </a>

                                @Html.ActionLink("Info", "Index", "Guild", new {@id = guildSession.Guild.Id}, new {@class = "text-warning-i"}) |
                                @Html.ActionLink("Sessions", "Guild", "Session", new {@id = guildSession.Guild.Id}, new {@class = "text-warning-i"})
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right col-sm-2"></td>
                            <td class="text-left col-sm-10">
                                Session:
                                <b>@Html.ActionLink(string.Format("{0} ({1})", guildSession.Name, guildSession.Duration), "Detail", "Session", new { @id = guildSession.Id }, new { @class = "text-info-i" })</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right col-sm-2"></td>
                            <td class="text-left col-sm-10">
                                @foreach (var bossKilled in guildSession.BossesSeen)
                                {
                                    <i class="fa fa-check text-success"></i> @bossKilled
                                }
                                @foreach (var bossNotKilled in guildSession.BossesSeenNotKilled)
                                {
                                    <i class="fa fa-times text-danger"></i> @bossNotKilled
                                }
                            </td>
                        </tr>
                        <tr><td></td><td><hr /></td></tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>