@using BotDetect.Web.UI.Mvc;

@model PrancingTurtle.Models.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Enter the email address you used when registering, and we'll send you a link to reset your password.</p>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            @{ var resetCaptcha = new MvcCaptcha("ResetPasswordCaptcha"); }
            @Html.Captcha(resetCaptcha)
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Verification code", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("PwResetCaptchaCode", null, new { @class = "form-control" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Send password reset link" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
