@using PrancingTurtle.Helpers
@model PrancingTurtle.Models.ViewModels.JoinGuildVM

@{
    ViewBag.Title = "Join a Guild";
}


<div class="row">
    <div class="col-md-8 col-centered">
        <h2>Join an existing guild</h2>
        <br />
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Guild selection</h3>
            </div>
            <div class="panel-body">

                <h4>Select a guild from the list below that you wish to join.</h4>
                <h5>NB: Only active guilds on your character's shard will be shown.</h5>

                @if (Model.Guilds.Any())
                {
                    using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(false)
                            @Html.HiddenFor(model => model.AuthUserCharacterId)
                            @Html.HiddenFor(model => model.ShardId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.GuildId, new {@class = "control-label col-md-3"})
                                <div class="col-md-9">
                                    @Html.DropDownListFor(model => model.GuildId, new SelectList(Model.Guilds, "Id", "Name", Model.GuildId), new {@class = "form-control"})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Message, new {@class = "control-label col-md-3"})
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Message, new {@class = "form-control"})
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="Apply to join this guild" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h4 class="text-warning">Sorry, there are currently no active guilds on your shard that you can apply to!</h4>
                }
            </div>
            <div class="panel-footer">
                @Html.ImageActionLink("Index", "text-warning", "fa fa-lg fa-arrow-circle-left", "Back")
            </div>
        </div>
    </div>
</div>